@import './Fonts.scss';

@import './Header_styles/Header.scss';
@import './NavBar_styles/NavBar.scss';
@import './Section-1_styles/Categories.scss';
@import './Section-1_styles/Slider.scss';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Exo 2';
}

.page-wrapper{
    max-width: 1300px;
    margin: auto;
}

.section-1{
    display: flex;
}


a {
    text-decoration: none;
    color: #838688;
}
